<hr class="hr-line" id="about">
<section class="about">
 

 <p> Bonjour</p>
<p>Je m'appelle  <span class="nomSpan">Melin</span><span class="prenomSpan">Cyril</span>
 développeur d'applications web anciennement Animateur SONY et vendeur en magasin grande surface dans secteur jeux videos
ce qui m’a permis d’acquérir de très bonnes compétences telles que l’écoute, le conseil ainsi que 
l'importance de la satisfaction des clients.</p>
 <p>
Passioné de programmation, j'ai décidé de lancer une activité vers le développement d'applications web.
J'ai réalisé plusieurs formations qui m'ont permi de découvrir et de faire évoluer mes compétences dans ce domaine.
Je possède plusieurs diplomes de formations dont celui de concepteur et développeur Web de niveau 6
(Base de donnée, API,environement .net, node.js, AngularJs...)</p>
<p>Je fais également la veille technique et également technologique pour bien sur être en adéquation avec l'évolution du marché moderne.
 </p>

  

</section>


