/*--------------------------------------------MOBILE---------------------------------------------*/
@media screen and (max-width: 600px) {

    /*Règles de style pour les mobiles ici */
    .gestion{
        visibility: hidden;

    }
/*--------------------------------------------MOBILE-BOUTON Toggle-menu----------------------------------*/
    .menu-button {
        left:4%;
        top:2%;
    }
/*-------------------------------------------- MOBILE-Presentation ----------------------------------*/
    .nom,.prenom,.dev{
        display: none;
    }
    .mobilePresentation{
        margin-top: 4%;
        display: block;
        color: whitesmoke;
        font-size: 0.8rem;
    }
    .presentation{
        text-align: center;
        height: auto;
    }
    .nom,.prenom,.dev{
        position:relative;
    }
    .dev{
        margin-top: 2%;
    }
/*--------------------------------------------MOBILE-MENU---------------------------------------------*/
    .animation{
        margin-top: 33%;
    }
    .navbar{
      padding: 5px;
      text-align: center;
      display: none;
      flex-direction: column;
      top:7%;
      opacity: 1;
      width: 100%;
      left:0%;
    }
    .navbar li {
        padding-top: 3%;
        padding-bottom: 3%;
    }

/*------------------------------------MOBILE design bouton toggle -----------------------------------*/
    .menu-button {
        visibility: inherit;
        margin-top: 2%;
        background: none;
        border-color: #e213138a;
        cursor: pointer;
        padding: 0;
        display: inline-block;
        position: absolute;
        z-index: 51;
      }
      
      .navbar li{
        margin: 0;
      }
      .bar {
        padding: 0;
        display: block;
        width: 30px;
        height: 1px;
        background-color: #ffffff; /* Couleur des barres */
        margin: 6px 2px;
      }
      .fullstack{
       
  
    
        }
    .navigationDiv{
        margin-top: 60vh;
        width: 50%;
        margin-left: 21%;
    }
      article{
        width: 100%;
        border-radius: 0px;

      }
      
      .mesprojets,.fullstack{
        display: block;
        
      }
      .animation{
        margin-top: 20%;
    }
.frontback{
    padding: 0;
    border: none;
    padding-bottom: 10px;
}
.about{
    width: 100%;
}
.switch{
    margin-top: 95vh;
}
#skills{
    top:300vh;
  }

  #interet{
    top:510vh;
  }
      .monprojet{
        border-radius: 20px;
        border: none;
       
      }

    .monprojet{
/* Ajustez la largeur des colonnes selon vos besoins */
        margin: 0 3px 0 3px;
        background-color: rgba(0, 0, 0, 0.808);
    }
    .navigationProjetDiv{
        position: relative;
            display: inline-block;
            width: 50%;
            height: 100px;
            margin-right: 10%;
    }

      .navigationProjet{
margin-top: 10px;
        z-index: 50;
      }
      .previous{
   
      
      }
      .next{
      
      }
      .animation-caractere{
        width: 100%;
        margin: 0;
      }

  }
  @media screen and (max-width: 390px){
    .introCarac{
        font-size: 2rem;
    }
    .about{
        font-size: smaller;
       
    }
    .navigationDiv{
        position: absolute;
        margin-top: 70vh;
    }
    .espace{
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .switch{
        margin-left: 43%;
        margin-top: 97vh;
        z-index: 66;
    }
    h3{
        font-size: 1rem;
    }
  }
  @media screen and (max-height: 500px) and (max-width: 1000px) {
    /* Ajoutez ici vos styles spécifiques pour le mode paysage */
    body{
        font-size: small;
    }
    .fullstack{
      
        font-size: 0.5rem;
        margin: 0;
        padding: 0;
    }
    .espace{
        padding: 0;
    }

    .skills{
      
        font-size: 0.5rem;
        margin: 0;
        padding: 0;
    }
    h3{
        padding: 0;
        margin-top: 0;
    }
    .projet{
    
        font-size: 0.5rem;
        margin: 0;
        padding: 0;

    }

    .contact{
        top:650vh;
        font-size: 0.5rem;
        margin: 0;
        padding: 0;
    }
    textarea{
        height: 40px;
    }
    .interet{
        top:575vh;
        font-size: 0.5rem;
        margin: 0;
        padding: 0;
    }
    .about{
        font-size: smaller;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 8vh;
    }
    .about p{
        margin: 1% 10% 1% 10%;
        padding: 0;
        width: 80%;
    }
    .titreFull{
        margin:0;
        padding: 0;
    }
    .gestion{
        display: none;
    }
}