<hr class="hr-line" id="fullstack">
<section  class="fullstack">

        <article class="frontback">
            <h2>Back-end</h2>
            <ul class="ulFrontback">
                <li class="espace">Création de base de données</li>
                <li class="espace">Création d'API</li>
                <li class="espace">CRUD des données</li>
                <li class="espace">Securité des données</li>
            </ul>
        </article>
        <article class="frontback">
            <h2>Front-end</h2>
            <ul class="ulFrontback">
                <li class="espace">HTML 5 - CSS 3 - Javascript</li>
                <li class="espace">Framework : angular.js</li>
                <li class="espace">Bootstraps</li>
                <li class="espace">tree.js</li>
            </ul>
        </article>
    </section>   
